:root{
--kc-theme-main-color: #17451f;

--kc-theme-active-menu-color: #17451f;
--kc-theme-active-menu-text-color: #fff;

--kc-theme-button-color: #17451f;
--kc-theme-button-text-color: #fff;

--kc-theme-active-button-color: #17451f;
--kc-theme-active-button-text-color: #fff;
}